@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Open Sans', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Open Sans', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Open Sans', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Open Sans', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #9c89ce !important;
}
.bg-success {
  background-color: #f3c649 !important;
}
.bg-info {
  background-color: #f3c649 !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #9c89ce;
  border-color: #9c89ce;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #6f53b8;
  border-color: #6f53b8;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #6f53b8 !important;
  border-color: #6f53b8 !important;
}
.btn-secondary {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #a6a6a6;
  border-color: #a6a6a6;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-info {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-success {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #6247aa;
  color: #6247aa;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #9c89ce;
  border-color: #9c89ce;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #9c89ce !important;
  border-color: #9c89ce !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #999999;
  color: #999999;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.btn-info-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-success-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #9c89ce !important;
}
.text-success {
  color: #f3c649 !important;
}
.text-info {
  color: #f3c649 !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #f3c649;
}
.alert-info {
  background-color: #f3c649;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #9c89ce;
}
.btn-social:hover {
  background: #9c89ce;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #9c89ce;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #9c89ce;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #9c89ce;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #9c89ce;
}
.lead a,
.lead a:hover {
  color: #9c89ce;
}
.lead blockquote {
  border-color: #9c89ce;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #9c89ce;
}
.extCountdown1 .number,
.extCountdown2 .number {
  font-family: 'Open Sans', sans-serif;
}
.extCountdown1 .period,
.extCountdown2 .period {
  font-family: 'Lora', serif;
}
.extCountdown1 .dot,
.extCountdown2 .dot {
  font-family: 'Open Sans', sans-serif;
}
.features6 .feature-subtitle {
  font-family: 'Lora', serif;
}
.features6 .feature-title {
  font-family: 'Open Sans', sans-serif;
}
.features6 .description {
  font-family: 'Open Sans', sans-serif;
}
.count,
.counter-title {
  font-family: 'Open Sans', sans-serif;
}
.counter-subtitle {
  font-family: 'Lora', serif;
}
.mbr-iconfont-counters1 {
  color: #9c89ce;
}
.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
  font-family: 'Open Sans', sans-serif;
}
.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
  font-family: 'Lora', serif;
}
.extHeader5 .container label {
  font-family: 'Lora', serif;
}
.extHeader9 form p.form-subtitle {
  font-family: 'Open Sans', sans-serif;
}
.extHeader11 .container span {
  font-family: 'Open Sans', sans-serif;
}
.extHeader11 .container p.element {
  font-family: 'Open Sans', sans-serif;
}
.extHeader11 .container p {
  font-family: 'Lora', serif;
}
.extHeader12 h4,
.extFeatures10 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extHeader12 .subtitle,
.extFeatures10 .subtitle {
  font-family: 'Lora', serif;
}
.extHeader13 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extHeader13 .number {
  font-family: 'Open Sans', sans-serif;
}
.extHeader13 .period {
  font-family: 'Lora', serif;
}
.extHeader13 .dot {
  font-family: 'Open Sans', sans-serif;
}
.extFeatures .feature-title {
  font-family: 'Open Sans', sans-serif;
}
.extFeatures .feature-subtitle {
  font-family: 'Lora', serif;
}
.extFeatures .feature-text {
  font-family: 'Open Sans', sans-serif;
}
.extFeatures2 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extFeatures3 .border-wrap {
  border-color: #9c89ce;
}
.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
  font-family: 'Open Sans', sans-serif;
}
.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
  font-family: 'Lora', serif;
}
.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
  font-family: 'Lora', serif;
}
.extForm2 .container h3 {
  font-family: 'Open Sans', sans-serif;
}
.extForm2 .container p {
  font-family: 'Lora', serif;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #9c89ce;
}
.extPricingTable1 .mbr-price small {
  font-family: 'Lora', serif;
}
.extPricingTable1 .mbr-plan-label {
  background: #9c89ce;
}
.extCounters2 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extCounters2 h5 {
  font-family: 'Lora', serif;
}
.extCounters3 .count {
  font-family: 'Open Sans', sans-serif;
}
.extCounters3 .counter-title {
  font-family: 'Open Sans', sans-serif;
}
.extCounters3 .counter-subtitle {
  font-family: 'Lora', serif;
}
.extProgressBar .progress-primary[value]::-webkit-progress-value {
  background-color: #9c89ce;
}
.extProgressBar .progress-primary[value]::-moz-progress-bar {
  background-color: #9c89ce;
}
@media screen and (min-width: 0\0) {
  .extProgressBar .progress-primary .progress-bar {
    background-color: #9c89ce;
  }
}
.extProgressBar .title-wrap {
  font-family: 'Lora', serif;
}
.extProgressBarRound .progress-radial .overlay {
  font-family: 'Open Sans', sans-serif;
}
.extProgressBar4 .feature-title {
  font-family: 'Open Sans', sans-serif;
}
.extProgressBar4 .feature-subtitle {
  font-family: 'Lora', serif;
}
.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
  color: #9c89ce;
}
.extAccordion1 .panel-heading a {
  font-family: 'Open Sans', sans-serif;
}
.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
  background-color: #9c89ce;
}
.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
  font-family: 'Open Sans', sans-serif;
}
.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
  background-color: #9c89ce;
}
.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
  background-color: #9c89ce;
}
@media screen and (min-width: 0\0) {
  .extProgressBar5 .progress-primary .progress-bar {
    background-color: #9c89ce;
  }
}
.extProgressBar5 .title-wrap {
  font-family: 'Lora', serif;
}
.extMsg-box1 .container h3 {
  font-family: 'Open Sans', sans-serif;
}
.extMsg-box1 .container p {
  font-family: 'Lora', serif;
}
.extMsg-box1 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extMsg-box1 .subtitle {
  font-family: 'Lora', serif;
}
.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
  font-family: 'Open Sans', sans-serif;
}
.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
  font-family: 'Lora', serif;
}
.extProgressBarRound .pie_progress__number {
  font-family: 'Open Sans', sans-serif;
}
.extMenu1 span.icon a:hover {
  color: #9c89ce !important;
}
.extProgressBar .progress-primary[value]::-ms-fill {
  color: #9c89ce;
}
.extProgressBar5 .progress-primary[value]::-ms-fill {
  color: #9c89ce;
}
.theme-border {
  border: 1px solid #9c89ce;
}
#footer1-2 P {
  color: #000000;
}
#extMenu1-3y .hide-buttons .nav-btn {
  display: none !important;
}
#extMenu1-3y .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#extMenu1-3y .navbar-toggler {
  color: #000000;
}
#extMenu1-3y .close-icon::before,
#extMenu1-3y .close-icon::after {
  background-color: #000000;
}
#extMenu1-3y .link,
#extMenu1-3y .dropdown-item {
  color: #000000;
}
#extMenu1-3y .link {
  font-size: 0.95rem;
}
#extMenu1-3y .dropdown-item,
#extMenu1-3y .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#extMenu1-3y .link:hover,
#extMenu1-3y .dropdown-item:hover,
#extMenu1-3y .link:focus,
#extMenu1-3y .dropdown-item:focus {
  color: #9c89ce;
}
#extMenu1-3y .link[aria-expanded="true"],
#extMenu1-3y .dropdown-menu {
  background: #a8a8a8;
}
#extMenu1-3y .nav-dropdown-sm .link:focus,
#extMenu1-3y .nav-dropdown-sm .link:hover,
#extMenu1-3y .nav-dropdown-sm .dropdown-item:focus,
#extMenu1-3y .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#extMenu1-3y .navbar,
#extMenu1-3y .nav-dropdown-sm,
#extMenu1-3y .nav-dropdown-sm .link[aria-expanded="true"],
#extMenu1-3y .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#extMenu1-3y .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#extMenu1-3y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#extMenu1-3y .bg-color.transparent.opened .link:hover,
#extMenu1-3y .bg-color.transparent.opened .link:focus {
  color: #9c89ce;
}
#extMenu1-3y .link[aria-expanded="true"],
#extMenu1-3y .dropdown-item[aria-expanded="true"] {
  color: #9c89ce!important;
}
#extMenu1-3y .innerEmail:hover,
#extMenu1-3y .innerPhone:hover {
  color: #9c89ce;
}
#extMenu1-3y SPAN {
  color: #000000;
  font-size: 17px;
}
#header3-6k .mbr-section-title,
#header3-6k .mbr-section-subtitle {
  text-align: center;
}
#extFeatures7-4j {
  
  
  
  
}
#extFeatures7-4j .mbr-section-title {
  text-align: center;
  color: #232323;
  font-family: 'Source Sans Pro', sans-serif;
}
#extFeatures7-4j .mbr-section-subtitle {
  font-family: 'Noto Sans', sans-serif;
}
#extFeatures7-4j .mbr-section-title SPAN {
  font-family: 'Noto Sans', sans-serif;
}
#extFeatures7-4j H5 {
  font-family: 'Open Sans', sans-serif;
}
#extFeatures7-4j H4 {
  font-size: 19px;
}
#extFeatures13-6f .etl-icon {
  color: #666666;
}
#extFeatures13-6f .mbr-section-title {
  font-size: 20px;
}
#msg-box8-4t .mbr-section-title,
#msg-box8-4t p {
  color: #fff;
}
#msg-box8-4t .mbr-section-title {
  color: #a38f84;
}
#extFeatures4-4m .mbr-iconfont-features4 {
  color: undefined !important;
}
#extFeatures4-4m .wraper {
  border-color: undefined !important;
}
#extFeatures4-4m .mbr-iconfont-features4 {
  color: undefined !important;
}
#extFeatures4-4m .wraper {
  border-color: undefined !important;
}
#msg-box8-6o .mbr-section-title,
#msg-box8-6o p {
  color: #fff;
}
#msg-box8-6o .mbr-section-title,
#msg-box8-6o p {
  color: #a38f84;
}
#msg-box8-6o .mbr-section-title {
  color: #a38f84;
}
#header3-6w .mbr-section-title,
#header3-6w .mbr-section-subtitle {
  text-align: center;
}



#footer1-11 P {
  color: #000000;
}
#menu-2n .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2n .navbar-caption {
  color: #ffffff;
  font-size: 36px;
  font-family: 'Lato', sans-serif;
}
#menu-2n .navbar-toggler {
  color: #000000;
}
#menu-2n .close-icon::before,
#menu-2n .close-icon::after {
  background-color: #000000;
}
#menu-2n .link,
#menu-2n .dropdown-item {
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#menu-2n .link {
  font-size: 1rem;
}
#menu-2n .dropdown-item,
#menu-2n .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-2n .link:hover,
#menu-2n .dropdown-item:hover,
#menu-2n .link:focus,
#menu-2n .dropdown-item:focus {
  color: #9c89ce;
}
#menu-2n .link[aria-expanded="true"],
#menu-2n .dropdown-menu {
  background: #978787;
}
#menu-2n .nav-dropdown-sm .link:focus,
#menu-2n .nav-dropdown-sm .link:hover,
#menu-2n .nav-dropdown-sm .dropdown-item:focus,
#menu-2n .nav-dropdown-sm .dropdown-item:hover {
  background: #a89a9a!important;
}
#menu-2n .navbar,
#menu-2n .nav-dropdown-sm,
#menu-2n .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2n .nav-dropdown-sm .dropdown-menu {
  background: #afa2a2;
}
#menu-2n .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-2n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2n .bg-color.transparent.opened .link:hover,
#menu-2n .bg-color.transparent.opened .link:focus {
  color: #9c89ce;
}
#menu-2n .link[aria-expanded="true"],
#menu-2n .dropdown-item[aria-expanded="true"] {
  color: #9c89ce!important;
}
#header2-13 .mbr-section-title FONT {
  color: #ffffff;
  text-align: left;
  font-size: 36px;
}
#header2-13 .mbr-section-title {
  text-align: right;
  font-size: 60px;
}
#header2-13 .mbr-section-text FONT {
  text-align: left;
}
#header2-13 .mbr-section-title DIV {
  text-align: center;
}
#header2-13 .mbr-section-text {
  font-size: 17px;
}
#msg-box8-14 .mbr-section-title,
#msg-box8-14 p {
  color: #fff;
}
#msg-box8-14 .mbr-section-title {
  text-align: center;
}
#features3-15 P {
  color: #000000;
  text-align: center;
}
#msg-box8-16 .mbr-section-title,
#msg-box8-16 p {
  color: #fff;
}
#msg-box8-18 .mbr-section-title,
#msg-box8-18 p {
  color: #fff;
}
#msg-box8-18 .mbr-section-title {
  font-size: 48px;
  font-family: 'Open Sans', sans-serif;
}
#msg-box8-1a .mbr-section-title,
#msg-box8-1a p {
  color: #fff;
}
#contacts2-1b P {
  text-align: left;
  font-size: 13px;
  color: #000000;
}
#extMenu1-3y .hide-buttons .nav-btn {
  display: none !important;
}
#extMenu1-3y .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#extMenu1-3y .navbar-toggler {
  color: #000000;
}
#extMenu1-3y .close-icon::before,
#extMenu1-3y .close-icon::after {
  background-color: #000000;
}
#extMenu1-3y .link,
#extMenu1-3y .dropdown-item {
  color: #000000;
}
#extMenu1-3y .link {
  font-size: 0.95rem;
}
#extMenu1-3y .dropdown-item,
#extMenu1-3y .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#extMenu1-3y .link:hover,
#extMenu1-3y .dropdown-item:hover,
#extMenu1-3y .link:focus,
#extMenu1-3y .dropdown-item:focus {
  color: #9c89ce;
}
#extMenu1-3y .link[aria-expanded="true"],
#extMenu1-3y .dropdown-menu {
  background: #a8a8a8;
}
#extMenu1-3y .nav-dropdown-sm .link:focus,
#extMenu1-3y .nav-dropdown-sm .link:hover,
#extMenu1-3y .nav-dropdown-sm .dropdown-item:focus,
#extMenu1-3y .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#extMenu1-3y .navbar,
#extMenu1-3y .nav-dropdown-sm,
#extMenu1-3y .nav-dropdown-sm .link[aria-expanded="true"],
#extMenu1-3y .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#extMenu1-3y .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#extMenu1-3y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#extMenu1-3y .bg-color.transparent.opened .link:hover,
#extMenu1-3y .bg-color.transparent.opened .link:focus {
  color: #9c89ce;
}
#extMenu1-3y .link[aria-expanded="true"],
#extMenu1-3y .dropdown-item[aria-expanded="true"] {
  color: #9c89ce!important;
}
#extMenu1-3y .innerEmail:hover,
#extMenu1-3y .innerPhone:hover {
  color: #9c89ce;
}
#extMenu1-3y SPAN {
  color: #000000;
  font-size: 17px;
}
#msg-box5-64 H3 {
  font-size: 46px;
}
#extFeatures8-5m .feature-title,
#extFeatures8-5m .description {
  color: #232323;
}
#extFeatures8-5m .feature-subtitle {
  color: #8c8c8c;
}
#extFeatures10-5y .etl-icon {
  color: #000000;
}
#footer1-11 P {
  color: #000000;
}
#footer1-6c P {
  color: #000000;
}
#extMenu1-6d .hide-buttons .nav-btn {
  display: none !important;
}
#extMenu1-6d .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#extMenu1-6d .navbar-toggler {
  color: #000000;
}
#extMenu1-6d .close-icon::before,
#extMenu1-6d .close-icon::after {
  background-color: #000000;
}
#extMenu1-6d .link,
#extMenu1-6d .dropdown-item {
  color: #000000;
}
#extMenu1-6d .link {
  font-size: 0.95rem;
}
#extMenu1-6d .dropdown-item,
#extMenu1-6d .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#extMenu1-6d .link:hover,
#extMenu1-6d .dropdown-item:hover,
#extMenu1-6d .link:focus,
#extMenu1-6d .dropdown-item:focus {
  color: #9c89ce;
}
#extMenu1-6d .link[aria-expanded="true"],
#extMenu1-6d .dropdown-menu {
  background: #a8a8a8;
}
#extMenu1-6d .nav-dropdown-sm .link:focus,
#extMenu1-6d .nav-dropdown-sm .link:hover,
#extMenu1-6d .nav-dropdown-sm .dropdown-item:focus,
#extMenu1-6d .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#extMenu1-6d .navbar,
#extMenu1-6d .nav-dropdown-sm,
#extMenu1-6d .nav-dropdown-sm .link[aria-expanded="true"],
#extMenu1-6d .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#extMenu1-6d .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#extMenu1-6d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#extMenu1-6d .bg-color.transparent.opened .link:hover,
#extMenu1-6d .bg-color.transparent.opened .link:focus {
  color: #9c89ce;
}
#extMenu1-6d .link[aria-expanded="true"],
#extMenu1-6d .dropdown-item[aria-expanded="true"] {
  color: #9c89ce!important;
}
#extMenu1-6d .innerEmail:hover,
#extMenu1-6d .innerPhone:hover {
  color: #9c89ce;
}
#extMenu1-6d SPAN {
  color: #000000;
  font-size: 17px;
}
#header5-6e .mbr-section-title {
  color: #000;
}
#header5-6e .mbr-section-lead {
  color: #9c9a9a;
}
